openapi: 3.0.1
info:
  title: Sumtotal APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/sumtotal/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/sumtotal/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/sumtotal/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /users/{username}/summary:
    get:
      tags:
        - User
      summary: Returns User Summary By Username
      description: 'User Detail Summary of the specified Username'
      operationId: UserInformation_UserSummaryByUsername
      parameters:
        - name: username
          in: path
          description: Username of the User to lookup
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummaryDTO'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
  /users/{userId}/transcripts:
    get:
      tags:
        - User
      summary: Returns the User Transcripts
      description: "This API exposes the Transcripts of the specified User. Fields in that has the prefix of requestDto must be included in the body e.g. request.Flag"
      operationId: V2UserInformation_GetUserTranscript
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
            default: ''
        - name: page
          in: query
          description: The position of the backend record from which the results would be shown
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: limit
          in: query
          description: The number of records that should be fetched by the call.
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - name: sortColumn
          in: query
          description: 'Column to Sort by: CompletionDate = 6, ExpirationDate = 7'
          required: false
          schema:
            type: string
            default: '6'
            enum:
              - '6'
              - '7'
        - name: sortDirection
          in: query
          description: Direction of sorting, Ascending = 1 or Descending = 2
          required: false
          schema:
            type: string
            default: '1'
            enum:
              - '1'
              - '2'
        - name: requestDto.flag
          in: query
          description: Use to specify type of Activities return 1 = Standard Activities, 2 = Self-Reported Training, 3 = Continuing Education. If nothing is specified Standard activities along with Self-Reported Training are returned
          required: false
          schema:
            type: integer
            format: int32
        - name: requestDto.startDate
          in: query
          description: Start Date of Activities
          required: false
          schema:
            type: string
            format: date-time
        - name: requestDto.endDate
          in: query
          description: End Date of Activities
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedData-TranscriptActivityDto'
        '400':
          description: Triggers when valid user is not found in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResult'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
        '500':
          description: An unexpected error has occurred
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    UserSummaryPersonOptional1DTO:
      title: personOptional
      description: Object for Person Optional Information
      type: object
      properties:
        text1:
          description: An optional text field
          type: string
        text2:
          description: An optional text field
          type: string
        text3:
          description: An optional text field
          type: string
        text4:
          description: An optional text field
          type: string
        text5:
          description: An optional text field
          type: string
        text6:
          description: An optional text field
          type: string
        text7:
          description: An optional text field
          type: string
        text8:
          description: An optional text field
          type: string
        text9:
          description: An optional text field
          type: string
        text10:
          description: An optional text field
          type: string
        text11:
          description: An optional text field
          type: string
        text12:
          description: An optional text field
          type: string
        text13:
          description: An optional text field
          type: string
        text14:
          description: An optional text field
          type: string
        text15:
          description: An optional text field
          type: string
        text16:
          description: An optional text field
          type: string
        text17:
          description: An optional text field
          type: string
        text18:
          description: An optional text field
          type: string
        text19:
          description: An optional text field
          type: string
        text20:
          description: An optional text field
          type: string
        date1:
          format: date-time
          description: An optional date field. Use 0001-01-01 for NULL date.
          type: string
        date2:
          format: date-time
          description: An optional date field. Use 0001-01-01 for NULL date.
          type: string
        date3:
          format: date-time
          description: An optional date field. Use 0001-01-01 for NULL date.
          type: string
        date4:
          format: date-time
          description: An optional date field. Use 0001-01-01 for NULL date.
          type: string
        date5:
          format: date-time
          description: An optional date field. Use 0001-01-01 for NULL date.
          type: string
        money1:
          format: double
          description: An optional money field
          type: number
        money2:
          format: double
          description: An optional money field
          type: number
        money3:
          format: double
          description: An optional money field
          type: number
        money4:
          format: double
          description: An optional money field
          type: number
        money5:
          format: double
          description: An optional money field
          type: number
        integer1:
          format: int32
          description: An optional integer field
          type: integer
        integer2:
          format: int32
          description: An optional integer field
          type: integer
        integer3:
          format: int32
          description: An optional integer field
          type: integer
        integer4:
          format: int32
          description: An optional integer field
          type: integer
        integer5:
          format: int32
          description: An optional integer field
          type: integer
        float1:
          format: double
          description: An optional float field
          type: number
        float2:
          format: double
          description: An optional float field
          type: number
        float3:
          format: double
          description: An optional float field
          type: number
        float4:
          format: double
          description: An optional float field
          type: number
        float5:
          format: double
          description: An optional float field
          type: number
        ind1:
          description: An optional indicator (flag) field
          type: boolean
        ind2:
          description: An optional indicator (flag) field
          type: boolean
        ind3:
          description: An optional indicator (flag) field
          type: boolean
        ind4:
          description: An optional indicator (flag) field
          type: boolean
        ind5:
          description: An optional indicator (flag) field
          type: boolean
        memo1:
          description: An optional memo field
          type: string
        memo2:
          description: An optional memo field
          type: string
        memo3:
          description: An optional memo field
          type: string
        memo4:
          description: An optional memo field
          type: string
        memo5:
          description: An optional memo field
          type: string
        decimal1:
          format: double
          description: An optional decimal field
          type: number
        decimal2:
          format: double
          description: An optional decimal field
          type: number
        decimal3:
          format: double
          description: An optional decimal field
          type: number
        decimal4:
          format: double
          description: An optional decimal field
          type: number
        decimal5:
          format: double
          description: An optional decimal field
          type: number
    UserSummaryPersonRelationDTO:
      title: personRelation
      description: Object for Person to Person relationship
      type: object
      properties:
        jobTitle:
          description: Job Title
          type: string
        locationName:
          description: Location Name
          type: string
        locationCode:
          description: Location Code
          type: string
    UserSummaryPersonCommunicationDTO:
      title: personCommunication
      description: Object to specify Person Communication details
      type: object
      properties:
        email1:
          description: Email 1
          type: string
        email2:
          description: Email 2
          type: string
        address1:
          description: Address 1
          type: string
        address2:
          description: Address 2
          type: string
        address3:
          description: Address 3
          type: string
        city:
          description: City
          type: string
        stateName:
          description: State
          type: string
        county:
          description: County
          type: string
        country:
          description: Country
          type: string
        zip:
          description: Zip
          type: string
        phone:
          description: Phone
          type: string
        phoneExt:
          description: Phone Extension
          type: string
        pagerNumber:
          description: Pager Number
          type: string
        fax1:
          description: Fax 1
          type: string
        fax2:
          description: Fax 2
          type: string
        isPrimary:
          description: Is Primary. This field will default to True
          type: boolean
        mobile:
          description: Mobile
          type: string
        emailFormat:
          description: Email format. 1 - HTML 0 - Plain text
          type: boolean
        emergency:
          description: Emergency
          type: string
        twitterURL:
          description: Twitter URL
          type: string
        linkedInURL:
          description: LinkedIn URL
          type: string
        facebookURL:
          description: Facebook URL
          type: string
        googlePlusURL:
          description: Google Plus URL
          type: string
    PersonSecurityRoleDTO:
      description: Person Security Role
      type: object
      properties:
        id:
          description: Gets or sets the id of the security role
          type: string
        name:
          description: Gets or sets the name of the security role
          type: string
        description:
          description: Gets or sets the description of the security role
          type: string
    UserSummaryDTO:
      description: User Information
      type: object
      properties:
        username:
          description: Username of the person
          type: string
        firstName:
          description: First name of the person
          type: string
        lastName:
          description: Last name of the person
          type: string
        fullName:
          description: Full name of the person
          type: string
        middleName:
          description: Middle name of the person
          type: string
        firstNameNative:
          description: Native first name of the person
          type: string
        lastNameNative:
          description: Native last name of the person
          type: string
        friendlyName:
          description: Friendly name of the person
          type: string
        description:
          description: Description of the person
          type: string
        primaryDomain:
          description: Primary Domain of the person
          type: string
        primaryDomainCode:
          description: Primary Domain Code of the person
          type: string
        email:
          description: Email of the person
          type: string
        jobTitle:
          description: Job title of the person
          type: string
        startDate:
          format: date-time
          description: Start Date of the person
          type: string
        endDate:
          format: date-time
          description: End Date of the person
          type: string
        url:
          description: Learn Url of the person
          type: string
        suffixCode:
          description: Name suffix (Code). Maps to the "Item Code" field for the category code 4011
          type: string
        suffix:
          description: Gets or sets the suffix text of the person
          type: string
        prefixCode:
          description: Name prefix (Code). Maps to the "Item Code" field for the category code 4002
          type: string
        prefix:
          description: Gets or sets the prefix text of the person
          type: string
        addressCity:
          description: Address City of the person
          type: string
        imagePath:
          description: ImagePath of the person
          type: string
        imageUrl:
          description: Image URL of the person
          type: string
        userId:
          description: Employee Number of person
          type: string
        personId:
          format: int32
          description: Employee Id of person
          type: integer
        noteText:
          description: Employee Note Text
          type: string
        companyName:
          description: Company Name
          type: string
        companyCode:
          description: Company Code
          type: string
        timeZoneCode:
          description: Time Zone (Code). Maps to the "Item Code" field for the category code 3007
          type: string
        timeZone:
          description: Time Zone Text
          type: string
        localeCode:
          description: Locale (Code). Maps to the "Item Code" field for the category code 1201
          type: string
        locale:
          description: Locale Text
          type: string
        ethnicityCode:
          description: Ethnicity (Code). Maps to the "Item Code" field for the category code 23115
          type: string
        ethnicity:
          description: Ethnicity Text
          type: string
        genderCode:
          description: Gender (Code). Maps to the "Item Code" field for the category code 2518
          type: string
        gender:
          description: Gender Text
          type: string
        birthDate:
          format: date-time
          description: Birth Date
          type: string
        govtId:
          description: User's government ID
          type: string
        typeCode:
          format: int32
          description: Employee Type (Code). Maps to the "Item Code" field for the category code 4030
          type: integer
        employeeType:
          description: Employee Type Text
          type: string
        currencyCode:
          description: Currency (Code). Maps to the "Item Code" field for the category code 1098
          type: string
        currency:
          description: Currency Text
          type: string
        primaryJob:
          description: Primary Job
          type: string
        maritalStatus:
          description: Marital Status
          type: string
        veteranStatus:
          description: Veteran Status
          type: string
        securityRole:
          $ref: '#/components/schemas/PersonSecurityRoleDTO'
          description: Security role of the person
        organizations:
          description: Organizations of the person
          type: array
          items:
            $ref: '#/components/schemas/OrganizationPersonDTO'
        businessAddress:
          $ref: '#/components/schemas/UserSummaryPersonCommunicationDTO'
          description: Business Address
        homeAddress:
          $ref: '#/components/schemas/UserSummaryPersonCommunicationDTO'
          description: Home Address
        personOptional:
          $ref: '#/components/schemas/UserSummaryPersonOptional1DTO'
          description: Person Optional Fields
        personRelation:
          $ref: '#/components/schemas/UserSummaryPersonRelationDTO'
          description: Person Relation
    ErrorInvalidAuthorizationKey:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "401"
            message:
              type: string
              example: "Invalid Authorization key for resource"
    ErrorNotFound:
      type: object
      description: Error Message for Resource not found
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found"
    AdminActivityDTO:
      description: Admin Activity DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets Activity Id
          type: integer
        name:
          description: Gets Activity Name
          type: string
        code:
          description: Gets Activity Code
          type: string
        activityType:
          $ref: '#/components/schemas/ActivityLabelDTO'
          description: Gets  Activity Type
        description:
          description: Gets Activity Description
          type: string
        active:
          description: Gets Active status
          type: boolean
        noRegistrationRequired:
          description: Gets  No Registration Required flag
          type: boolean
        cancelled:
          description: Gets  Activity Cancelled status
          type: boolean
        hidden:
          description: Gets Activity Hidden flag
          type: boolean
        schedule:
          $ref: '#/components/schemas/ActivitySchedule'
          description: Gets Activity Schedule information
        isCertification:
          description: Gets Certification flag
          type: boolean
        requiresApproval:
          description: Gets Activity Requires Approval flag
          type: boolean
        capacity:
          format: int32
          description: Gets Activity Capacity value
          type: integer
        required:
          description: Gets Activity Required flag
          type: boolean
        published:
          format: date-time
          description: Gets activity last Published date
          type: string
        lastUpdated:
          format: date-time
          description: Gets Activity Last Updated date
          type: string
        canExpressInterest:
          description: Gets CanExpress Interest flag
          type: boolean
        isMobileEnabled:
          description: Gets Is Mobile Enabled flag
          type: boolean
        estimatedDurationSeconds:
          format: int32
          description: Gets Estimated Duration in seconds
          type: integer
        cbtLaunchMethod:
          $ref: '#/components/schemas/Nullable-KeyValuePair-Int32-String'
          description: Gets Activity launch method details
        keywords:
          description: Gets Keywords
          type: string
        contact:
          description: Gets Activity Contact information
          type: string
        emailPersonel:
          description: Gets Activity Email Personel
          type: string
        ownerId:
          description: Gets Activity Owner Id
          type: string
        activityNotes:
          $ref: '#/components/schemas/ActivityNotes'
          description: Gets Activity Notes details
        estimatedCreditHoursSeconds:
          format: double
          description: Gets  Estimated Credit Hours in seconds
          type: number
        systemMetaData:
          $ref: '#/components/schemas/SystemMetaDataDTO'
          description: Gets System Metadata details
        optionalFields:
          $ref: '#/components/schemas/ActivityOptionalFieldsDTO'
          description: Gets Optional Fields
        parentActivityId:
          format: int32
          description: Gets Parent Activity Id
          type: integer
        rootActivityId:
          format: int32
          description: Gets Root Activity Id
          type: integer
        activityTranslator:
          description: Gets Activity Translated properties
          type: array
          items:
            $ref: '#/components/schemas/ActivityTranslatorDTO'
        domainDetails:
          description: Gets Activity primary Domain Details
          type: array
          items:
            $ref: '#/components/schemas/DomainDetailsDTO'
        resources:
          $ref: '#/components/schemas/ResourcesDTO'
          description: Gets Resources information
        preRequisiteActivities:
          description: Gets PreRequisite Activities
          type: array
          items:
            format: int32
            type: integer
        topicDetails:
          description: Gets Activity Topic Details
          type: array
          items:
            $ref: '#/components/schemas/TopicsDTO'
        activityLinks:
          $ref: '#/components/schemas/ActivityLinksDTO'
          description: Gets Activity Links
        children:
          description: Gets Child Activities
          type: array
          items:
            $ref: '#/components/schemas/ActivityChildrenDTO'
        activityImageUrl:
          description: Gets or Sets Activity Image Url
          type: string
        isExtendedEnterpriseEnabled:
          description: Gets or Sets is Extended Enterprise Enabled flag
          type: boolean
        extendedEnterpriseDuration:
          format: int32
          description: Gets or sets Estimated Duration in days
          type: integer
        xapiActivityId:
          description: Gets or Sets is XAPIActivityId
          type: string
        xapiActivityTypeId:
          description: Gets or Sets is xAPIActivityTypeId
          type: string
    ActivityLabelDTO:
      description: Activity Label DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets activity type Id
          type: integer
        name:
          description: Gets activity type Name
          type: string
    ActivitySchedule:
      description: Activity Schedule DTO
      type: object
      properties:
        timeZone:
          $ref: '#/components/schemas/KeyValuePair-Int32-String'
          description: Gets Activity schedule time Zone
        startDate:
          format: date-time
          description: Gets schedule Start Date
          type: string
        endDate:
          format: date-time
          description: Gets schedule End Date
          type: string
        registrationDeadline:
          format: date-time
          description: Gets activity Registration Deadline date
          type: string
        cancellationDeadline:
          format: date-time
          description: Gets activity Cancellation Deadline date
          type: string
    Nullable-KeyValuePair-Int32-String:
      type: object
      properties:
        key:
          format: int32
          type: integer
          readOnly: true
        value:
          type: string
          readOnly: true
    ActivityNotes:
      description: Activity Notes DTO
      type: object
      properties:
        registrationInstructions:
          description: Gets Registration Instructions
          type: string
        userNotes:
          description: Gets User Notes
          type: string
        instructorNotes:
          description: Gets Instructor Notes
          type: string
    SystemMetaDataDTO:
      description: System Meta Data DTO
      type: object
      properties:
        mediaType:
          $ref: '#/components/schemas/KeyValuePair-Int32-String'
          description: Gets Media type
        deliveryMethod:
          $ref: '#/components/schemas/KeyValuePair-Int32-String'
          description: Gets Delivery Method
        contentType:
          $ref: '#/components/schemas/KeyValuePair-Int32-String'
          description: Gets Content Type
        expirationDate:
          format: date-time
          description: Gets Expiration Date
          type: string
        language:
          $ref: '#/components/schemas/KeyValuePair-Int32-String'
          description: Gets Language
        modalityList:
          description: Gets Modality List
          type: array
          items:
            $ref: '#/components/schemas/KeyValuePair-Int32-String'
    ActivityOptionalFieldsDTO:
      description: Activity Optional Fields DTO.
      type: object
      properties:
        optionalText1:
          description: Gets or sets the optional text1
          type: string
        optionalText2:
          description: Gets or sets the optional text2
          type: string
        optionalText3:
          description: Gets or sets the optional text3
          type: string
        optionalText4:
          description: Gets or sets the optional text4
          type: string
        optionalMemo1:
          description: Gets or sets the optional memo1
          type: string
        optionalDate1:
          description: Gets or sets the optional date1
          type: string
        optionalDate2:
          description: Gets or sets the optional date2
          type: string
        optionalYesNo:
          description: Gets or sets the optional yesno
          type: string
        optionalMoney:
          format: float
          description: Gets or sets the optional money
          type: number
        optionalInteger:
          format: int32
          description: Gets or sets the optional integer
          type: integer
        optionalFloat:
          format: float
          description: Gets or sets the optional float
          type: number
        optionalCurrencyId:
          format: int32
          description: Gets or sets the optional currency id
          type: integer
        optionalCurrency:
          description: Gets or sets the optional currency
          type: string
    ActivityTranslatorDTO:
      description: Activity Translator DTO
      type: object
      properties:
        language:
          description: Gets or sets Language
          type: string
        activityName:
          description: Gets or sets Activity Name
          type: string
        activityDescription:
          description: Gets or sets Activity Description
          type: string
        registrationInstructions:
          description: Gets or sets Registration Instructions
          type: string
        keyword:
          description: Gets or sets Keyword
          type: string
    DomainDetailsDTO:
      description: Domain Details DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets or sets Id
          type: integer
        name:
          description: Gets or sets Name
          type: string
        code:
          description: Gets or sets Code
          type: string
    ResourcesDTO:
      description: Activity resources DTO
      type: object
      properties:
        locations:
          description: Gets or sets Locations
          type: array
          items:
            $ref: '#/components/schemas/LocationDTO'
        equipments:
          description: Gets or sets Equipments
          type: array
          items:
            $ref: '#/components/schemas/EquipmentDTO'
        instructors:
          description: Gets or sets Instructors
          type: array
          items:
            $ref: '#/components/schemas/BasicUserDetailsDTO'
    TopicsDTO:
      description: Topic details DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets or sets Id
          type: integer
        name:
          description: Gets or sets Name
          type: string
    ActivityLinksDTO:
      description: Activity Links DTO
      type: object
      properties:
        fulFilledBy:
          description: Gets all activities which are fulfills current activity
          type: array
          items:
            format: int32
            type: integer
        fulFills:
          description: Gets all activities which are fulfilled by current activity
          type: array
          items:
            format: int32
            type: integer
        offeredBy:
          description: 'Gets all Offered By activities (Eg: ILT Course)'
          type: array
          items:
            format: int32
            type: integer
        offerings:
          description: 'Gets all Offerings of current activity (Eg: ILT Classes)'
          type: array
          items:
            format: int32
            type: integer
        subscribedByActivities:
          description: Gets all activities under current activity subscribed
          type: array
          items:
            format: int32
            type: integer
        associatedActivities:
          description: Gets all associated activities under current bundle activity
          type: array
          items:
            format: int32
            type: integer
    ActivityChildrenDTO:
      description: Activity Children DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets Activity Id
          type: integer
        children:
          description: Gets activity childs
          type: array
          items:
            $ref: '#/components/schemas/ActivityChildrenDTO'
    KeyValuePair-Int32-String:
      type: object
      properties:
        key:
          format: int32
          type: integer
          readOnly: true
        value:
          type: string
          readOnly: true
    LocationDTO:
      type: object
      properties:
        id:
          format: int32
          type: integer
        name:
          type: string
        facilityAddress1:
          type: string
        facilityAddress2:
          type: string
        url:
          type: string
        facilityName:
          type: string
        facilityCity:
          type: string
        facilityState:
          type: string
        facilityCountry:
          type: string
        zipCode:
          type: string
    EquipmentDTO:
      description: Equipments DTO
      type: object
      properties:
        id:
          format: int32
          description: Gets or sets Id
          type: integer
        name:
          description: Gets or sets Name
          type: string
    BasicUserDetailsDTO:
      description: ''
      type: object
      properties:
        id:
          description: ''
          type: string
    BadRequestResult:
      type: object
      properties:
        request:
          type: object
          readOnly: true
    NotFoundResult:
      type: object
      properties:
        request:
          type: object
          readOnly: true
    ActivityDetailsItemDTO:
      description: Activity Details item.
      type: object
      properties:
        isExtendedEnterpriseEnabled:
          description: Gets or Sets is Extended Enterprise Enabled flag
          type: boolean
        extendedEnterpriseDuration:
          format: int32
          description: Gets or Sets is Extended Enterprise Duration in days
          type: integer
        activityId:
          description: Gets or sets the activityID
          type: string
        activityType:
          description: Gets or sets the activity type
          type: string
        activityName:
          description: Gets or sets the activity name
          type: string
        activityCode:
          description: Gets or sets the activity code
          type: string
        assignmentStatus:
          description: Gets or sets the activity assignment status
          type: string
        completionProgress:
          format: int32
          description: Gets or sets the activity completion progress
          type: integer
        expirationDetails:
          description: Gets or sets the activity expiration details
          type: string
        activityDescription:
          description: Gets or sets the activity description
          type: string
        startDate:
          format: date-time
          description: Gets or sets the activity start date
          type: string
        endDate:
          format: date-time
          description: Gets or sets the activity end date
          type: string
        registrationDeadline:
          format: date-time
          description: Gets or sets the activity registration deadline
          type: string
        cancellationDeadline:
          format: date-time
          description: Gets or sets the activity cancellation deadline
          type: string
        estimatedCost:
          format: double
          description: Gets or sets the activity estimated cost
          type: number
        estimatedDuration:
          format: int32
          description: Gets or sets the activity estimated duration
          type: integer
        activityStatus:
          description: Gets or sets the activity status
          type: string
        locations:
          description: Gets or sets the activity locations
          type: array
          items:
            type: string
        instructors:
          description: Gets or sets the activity instructors
          type: array
          items:
            type: string
        launchUrl:
          description: Gets or sets the activity launchUrl
          type: string
        trainingOrganization:
          description: Gets or sets the activity training organization
          type: string
        deliveryMethod:
          description: Gets or sets the activity delivery method
          type: string
        contact:
          description: Gets or sets the activity contact
          type: string
        owner:
          description: Gets or sets the activity owner
          type: string
        language:
          description: Gets or sets the activity language
          type: string
        contentType:
          description: Gets or sets the activity content type
          type: string
        mediaType:
          description: Gets or sets the activity media type
          type: string
        prerequisite-Activities:
          description: Gets or sets the prerequisite activities
          type: array
          items:
            $ref: '#/components/schemas/BasicActivityDetails'
        userNotes:
          description: Gets or sets the activity user notes
          type: string
        certificationDetails:
          description: Gets or sets the activity certification details
          type: string
        creditHours:
          format: double
          description: Gets or sets the activity credit hours
          type: number
        libraryDetails:
          description: Gets or sets the activity library details
          type: array
          items:
            type: string
        instructorNotes:
          description: Gets or sets the activity instructor notes
          type: string
        skillsAndCompetencies:
          description: Gets or sets the activity skills and competencies
          type: array
          items:
            type: string
        fulfillmentActivities:
          description: Gets or sets the fulfillment activities
          type: array
          items:
            $ref: '#/components/schemas/BasicActivityDetails'
        pointsRange:
          $ref: '#/components/schemas/GamificationPointsRangeDTO'
          description: Gets or sets the Gamification Points Range
        progressDetails:
          $ref: '#/components/schemas/ActivityProgressDetailsDTO'
          description: Gets activity progress details
        activityOptionalFields:
          $ref: '#/components/schemas/ActivityOptionalDetailssDTO'
          description: Gets or sets the activity optional fields
        isRegistered:
          description: Gets or sets the registered status
          type: boolean
        activityImageUrl:
          description: Gets or sets the image path
          type: string
        cbtPath:
          description: CBT Path of Activity
          type: string
        cbtLaunchMethodId:
          description: CBT Launch Method Id
          type: string
        attendStatus:
          description: Gets or sets the activity attend status
          type: string
        mimeType:
          description: Gets or sets the mime type
          type: string
        modalities:
          description: Gets or sets the modalities
          type: array
          items:
            type: string
        noRegistrationRequired:
          description: Gets or Sets NoRegistrationRequired
          type: boolean
    BasicActivityDetails:
      description: Basic Activity Details item.
      type: object
      properties:
        activityId:
          description: Gets or sets the activity ID
          type: string
        activityName:
          description: Gets or sets the activity name
          type: string
        activityType:
          description: Gets or sets the activity type
          type: string
    GamificationPointsRangeDTO:
      description: Gamification Points Range DTO
      type: object
      properties:
        min:
          format: int32
          description: Gets or sets gamification min range value
          type: integer
        max:
          format: int32
          description: Gets or sets gamification min range value
          type: integer
    ActivityProgressDetailsDTO:
      type: object
      properties:
        elapsedSeconds:
          format: int64
          description: Time spent on the activity in fractional seconds
          type: integer
        percentageCompletion:
          format: int32
          description: Percentage completion of that activity by user
          type: integer
        contentTypeName:
          description: The descriptive name for this Content Type.
          type: string
        firstLaunchDate:
          format: date-time
          description: First launch Date of course by user
          type: string
        score:
          format: double
          description: Score attaind by user for course
          type: number
        registrationStatus:
          format: int32
          description: "Registration status of activity,Value vs Meaning is: 0=Registered, 1=Cancelled, 2=On Waiting List, 3=Holding for Approval, 4=Completed, 5=No-show\r\n6=Reserved seat on Waiting List, 7=Expired Waiting List seat, 8=Registration Transfered, 9=Waived, 10=In Progress"
          type: integer
        triesCount:
          format: int32
          description: No. of tries utilized to pass the course. Only completed ones are considered and not the in progress ones.
          type: integer
        attemptsCount:
          format: int32
          description: No. of attempts utilized to pass the course. Only completed ones are considered and not the in progress ones.
          type: integer
        attemptId:
          format: int64
          type: integer
        currentAttemptId:
          format: int64
          description: Latest attemptPK that is being used, irrespective of tries and attempts
          type: integer
        scormDetails:
          description: For scorm courses, Indicates scorm progress details.
          type: array
          items:
            $ref: '#/components/schemas/ScormItemProgressDetailsDTO'
        lastViewedScormPackageId:
          type: string
        totalQuestionsCount:
          format: int32
          description: Total number of questions in a quick assessment
          type: integer
        answeredQuestionsCount:
          format: int32
          description: Total number of answered questions in a quick assessment
          type: integer
        completionDate:
          format: date-time
          description: Date when activity was completed
          type: string
        status:
          description: Status of activity
          type: string
    ActivityOptionalDetailssDTO:
      description: Activity Optional Fields DTO.
      type: object
      properties:
        optionalText1:
          description: Gets or sets the optional text1
          type: string
        optionalText2:
          description: Gets or sets the optional text2
          type: string
        optionalText3:
          description: Gets or sets the optional text3
          type: string
        optionalText4:
          description: Gets or sets the optional text4
          type: string
        optionalMemo1:
          description: Gets or sets the optional memo1
          type: string
        optionalDate1:
          description: Gets or sets the optional date1
          type: string
        optionalDate2:
          description: Gets or sets the optional date2
          type: string
        optionalYesNo:
          description: Gets or sets the optional yesno
          type: string
        optionalMoney:
          format: float
          description: Gets or sets the optional money
          type: number
        optionalInteger:
          format: int32
          description: Gets or sets the optional integer
          type: integer
        optionalFloat:
          format: float
          description: Gets or sets the optional float
          type: number
        optionalCurrencyId:
          format: int32
          description: Gets or sets the optional currency id
          type: integer
        optionalCurrency:
          description: Gets or sets the optional currency
          type: string
    ScormItemProgressDetailsDTO:
      type: object
      properties:
        studyPlanItemId:
          description: UniqueId of study plan
          type: string
        treeLevel:
          format: int32
          description: Level in the tree 1 at root level, 2 one below root,etc.
          type: integer
        completionDate:
          format: date-time
          description: Latest attempt completion date of scorm
          type: string
        title:
          description: Title of scorm
          type: string
        status:
          description: Status of scorm
          type: string
        topicTime:
          format: double
          description: Time spent on the scorm in fractional seconds
          type: number
        percentage:
          format: int32
          description: Percentage of scorm completed
          type: integer
        objectives:
          format: int32
          description: Number of objectives
          type: integer
        interactions:
          format: int32
          description: Number of interactions associated with this scorm for this user
          type: integer
        passFail:
          description: Represents passed or failed
          type: string
    ChildActivityItemDTO:
      description: Child Activity item.
      type: object
      properties:
        childActivities:
          description: Gets or sets a list of child activities
          type: array
          items:
            $ref: '#/components/schemas/ChildActivityDetails'
    ChildActivityDetails:
      description: Child Activity Details item.
      type: object
      properties:
        activityId:
          description: Gets or sets the activity ID
          type: string
        activityName:
          description: Gets or sets the activity name
          type: string
        activityDescription:
          description: Gets or sets the activity description
          type: string
        activityType:
          description: Gets or sets the activity type
          type: string
        isRegistered:
          description: Indicate if Registered to Activity
          type: boolean
        status:
          description: Status of Activity
          type: string
        isCompleted:
          description: Indicate if activity is Completed
          type: boolean
        imageURL:
          description: Image URL of Activity
          type: string
        cbtPath:
          description: CBPT Path of Activity
          type: string
        launchUrl:
          description: Gets or sets the launchUrl
          type: string
        contentType:
          description: Gets or sets the activity content type
          type: string
    PaginatedData-AudienceByActivityIdResponseDto:
      description: Pagination class details and data
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationDetails'
          description: Details of Pagination
        data:
          description: Data. List of items
          type: array
          items:
            $ref: '#/components/schemas/AudienceByActivityIdResponseDto'
    PaginationDetails:
      description: Pagination details
      type: object
      properties:
        offset:
          format: int32
          description: The starting position of the backend record from which the results would be shown
          type: integer
        limit:
          format: int32
          description: The max number of records that should be fetched by the call
          type: integer
        total:
          format: int32
          description: The total number of records returned by the call
          type: integer
    AudienceByActivityIdResponseDto:
      description: Response object for getting Audiences by activity id
      type: object
      properties:
        audienceId:
          format: int32
          description: Gets or sets the AudiencePK
          type: integer
        name:
          description: Gets or sets the name
          type: string
        description:
          description: Gets or sets the description
          type: string
        code:
          description: Gets or sets the code
          type: string
        primaryDomain:
          description: Gets or sets the primary domain
          type: string
        isInherited:
          description: Gets or sets the Is Inherited
          type: string
    ActivityAdminListFilterRequestDTO:
      description: Activity Admin List Filter Request DTO
      type: object
      properties:
        inActive:
          format: int32
          description: 'Filter Activities by Status: All = 0, Inactive = 1, Active = 2'
          type: integer
        activityTypeId:
          format: int32
          description: Activity Type Id
          type: integer
        activityId:
          format: int32
          description: Filter by specific Activity Id
          type: integer
        activityName:
          description: Filter by specific Activity Name
          type: string
        activityCode:
          description: Filter by specific Activity Code
          type: string
        activityDescription:
          description: Filter by specific Activity Description
          type: string
        mediaTypeId:
          format: int32
          description: Filter by specific Media Type
          type: integer
        deliveryMethodId:
          format: int32
          description: Filter by specific Delivery Method
          type: integer
        cbtLaunchMethodId:
          format: int32
          description: Filter by specific CBT Launch Method
          type: integer
        langCodeId:
          format: int32
          description: Filter by specific Language
          type: integer
        durationMin:
          format: int32
          description: Filter by Minimum Duration
          type: integer
        durationMax:
          format: int32
          description: Filter by Maximum Duration
          type: integer
        status:
          format: int32
          description: Filter by specific Activity Status
          type: integer
        startDate:
          format: date-time
          description: Filter by Activity Start date
          type: string
        endDate:
          format: date-time
          description: Filter by Activity End date
          type: string
        owner:
          description: Filter by specific Owner
          type: string
        vendor:
          description: Filter by specific Vendor
          type: string
        primaryDomain:
          description: Filter by specific Primary Domain
          type: string
        region:
          description: Filter by specific Region
          type: string
        facility:
          description: Filter by specific Facility
          type: string
        includeCertificationsOnly:
          description: Include Certification only
          type: boolean
        includeStagingActivitiesOnly:
          description: Include Staging Activities only
          type: boolean
    PaginatedData-ActivityListViewItemDTO:
      description: Pagination class details and data
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationDetails'
          description: Details of Pagination
        data:
          description: Data. List of items
          type: array
          items:
            $ref: '#/components/schemas/ActivityListViewItemDTO'
    ActivityListViewItemDTO:
      type: object
      properties:
        activityId:
          format: int32
          description: Id of Activity
          type: integer
        parentActivityId:
          format: int32
          description: Parent Id of Activity
          type: integer
        name:
          description: Name of Activity
          type: string
        description:
          description: Description of Activity
          type: string
        code:
          description: Code of Activity
          type: string
        activityType:
          description: Type of Activity
          type: string
        primaryDomain:
          description: Primary domain Activity is associated to
          type: string
        startDate:
          format: date-time
          description: Scheduled Start date of Activity
          type: string
        endDate:
          format: date-time
          description: Scheduled End date of Activity
          type: string
        publishedDate:
          format: date-time
          description: Published date of Activity
          type: string
        updatedDate:
          format: date-time
          description: Last Updated date of Activity
          type: string
        active:
          description: Activity active status
          type: boolean
    PersonDTO:
      title: person
      description: Object for Person
      required:
        - firstName
        - lastName
        - userLogin
      type: object
      properties:
        userId:
          description: User unique identifier value for the import. Employee number/User ID not internal identifier. When left blank/null, this field will be auto generated
          type: string
        personId:
          format: int32
          description: Unique identifier for Person
          type: integer
        active:
          description: User account active or inactive. Possible values are 0 and 1
          type: boolean
        firstName:
          description: First Name
          type: string
        middleName:
          description: Middle Name
          type: string
        lastName:
          description: Last Name
          type: string
        fullName:
          description: FullName
          type: string
        firstNameNative:
          description: Native first name of the person
          type: string
        lastNameNative:
          description: Native last name of the person
          type: string
        friendlyName:
          description: Friendly name of the person
          type: string
        timezoneId:
          format: int32
          description: The timezone of the employee. Maps to the "Attr4Val" field of CodeAttribute category code 3007. Defaults to (UTC-05:00:00) Eastern Standard Time [America/New_York] (50)
          type: integer
        languageId:
          format: int32
          description: The employee's culture. Maps to "Attr4Val" field of Category code CodeAttribute.Catcd=1201. This  also determines the user's default language, date format, and time format. Defaults to English (United States) (1) (11)
          type: integer
        currencyId:
          format: int32
          description: The employee's compensation currency. Maps to "Attr3Val" of Code Attribute Category Code 1098. Defaults to US Dollars (11)
          type: integer
        ethnicityCode:
          description: Ethnicity of the user. Maps to the "Item Code" field for the category code 23115
          type: string
        genderCode:
          description: The gender of the employee. Maps to the "Item Code" field for the category code 2518
          type: string
        startDate:
          format: date-time
          description: Start date of employee
          type: string
        endDate:
          format: date-time
          description: Termination date
          type: string
        lastReviewDate:
          format: date-time
          description: 'The date/time of the user''s last Learn skills review, in either of the  following formats: mm/dd/yyyy hh:mm:ss,dd/mm/yyyy hh:mm:ss'
          type: string
        companyCode:
          description: Company Code (not an organization association)
          type: string
        companyName:
          description: Company name (not an organization association)
          type: string
        statusCode:
          format: int32
          description: User status (Active, Inactive, Vacation, etc.). Maps to "Item Code" field of Category code 48002
          type: integer
        typeCode:
          format: int32
          description: User code metadata (Full-time, part-time, contract, etc.). Maps to "Item Code" field of Category code Code.Catcd=4030
          type: integer
        birthDate:
          format: date-time
          description: Birth Date
          type: string
        prefixCode:
          description: Name prefix (Code). Maps to the "Item Code" field for the category code 4002
          type: string
        prefixText:
          description: Name Prefix Text.  Use this field to specify the prefix when 99 (other) is set as the prefix code.
          type: string
        suffixCode:
          description: Name suffix (Code). Maps to the "Item Code" field for the category code 4011
          type: string
        suffixText:
          description: Name Suffix Text.  Use this field to specify the suffix when 99 (other) is set as the suffix code.
          type: string
        noteText:
          description: Note Text
          type: string
        imagePath:
          description: ImagePath of the person
          type: string
        govtId:
          description: User's government ID
          type: string
        personDescription:
          description: Person Description
          type: string
        url:
          description: The Learn URL of the user
          type: string
        publishCalendar:
          description: Auto publish events into calendar.  0 - To add to calendar 1 - Do not add to calendar
          type: boolean
        internalInd:
          description: Indicates whether the user is an internal employee. 1 - Internal employee 0 - External (partner, contractor or customer)
          type: boolean
        deleted:
          description: Indicates whether the user should be marked as Deleted
          type: boolean
        welcomeEmailEnabled:
          description: Indicates if user should receive Welcome email after the account is created
          type: boolean
        homeAddress:
          $ref: '#/components/schemas/PersonCommunicationDTO'
          description: Home Address details
        businessAddress:
          $ref: '#/components/schemas/PersonCommunicationDTO'
          description: Business Address details
        personDomain:
          description: Person to Domain(s) Relationship
          type: array
          items:
            $ref: '#/components/schemas/PersonDomainDTO'
        personOrganization:
          description: Person to Organization(s) relationship
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationDTO'
        personJob:
          description: Person Job Object
          type: array
          items:
            $ref: '#/components/schemas/PersonJobDTO'
        personRelation:
          $ref: '#/components/schemas/PersonRelationDTO'
          description: Person Relation Object
        personELM:
          $ref: '#/components/schemas/PersonELMDTO'
          description: Person ELM Object
        personOptional:
          $ref: '#/components/schemas/PersonOptional1DTO'
          description: Person Optional Object
        personMobileUser:
          $ref: '#/components/schemas/PersonMobileUserDTO'
          description: Person Mobile User Object
        userLogin:
          $ref: '#/components/schemas/UserLoginDTO'
          description: User Login Object
        userLoginProfile:
          description: User Login Profile Object
          type: array
          items:
            $ref: '#/components/schemas/UserLoginProfileDTO'
        personTM:
          $ref: '#/components/schemas/PersonTMDTO'
          description: Person TM
    PersonCommunicationDTO:
      title: personCommunication
      description: Object to specify Person Communication details
      type: object
      properties:
        email1:
          description: Email 1
          type: string
        email2:
          description: Email 2
          type: string
        address1:
          description: Address 1
          type: string
        address2:
          description: Address 2
          type: string
        address3:
          description: Address 3
          type: string
        city:
          description: City
          type: string
        stateName:
          description: State
          type: string
        county:
          description: County
          type: string
        country:
          description: Country
          type: string
        zip:
          description: Zip
          type: string
        phone:
          description: Phone
          type: string
        phoneExt:
          description: Phone Extension
          type: string
        pagerNumber:
          description: Pager Number
          type: string
        fax1:
          description: Fax 1
          type: string
        fax2:
          description: Fax 2
          type: string
        isPrimary:
          description: Is Primary. This field will default to True
          type: boolean
        mobile:
          description: Mobile
          type: string
        emailFormat:
          description: Email format. 1 - HTML 0 - Plain text
          type: boolean
        emergency:
          description: Emergency
          type: string
        twitterURL:
          description: Twitter URL
          type: string
        linkedInURL:
          description: LinkedIn URL
          type: string
        facebookURL:
          description: Facebook URL
          type: string
        googlePlusURL:
          description: Google Plus URL
          type: string
    PersonDomainDTO:
      title: personDomain
      description: Object to specify Person to Domain Relationship
      type: object
      properties:
        domainId:
          format: int32
          description: Domain Id. Defaults to Global (-1)
          type: integer
        userSecurityRoleId:
          format: int32
          description: ELM Security role of the user. If no value passed then the API will update it to the default role set for the domain passed. If a role is passed which is not present in the domain then API will throw an error.
          type: integer
        isPrimary:
          description: Indicate if this Domain is the Primary Domain
          type: boolean
        deleted:
          format: int32
          description: Inidicates if record is deleted. This field is readonly
          type: integer
        code:
          description: Code of Domain
          type: string
    PersonOrganizationDTO:
      title: personOrganization
      description: Object for Person to Organization relationship
      type: object
      properties:
        organizationId:
          format: int32
          description: Organization Id
          type: integer
        isPrimary:
          description: Is Primary
          type: boolean
        joiningDate:
          format: date-time
          description: Joining Date
          type: string
        code:
          description: Code of Organization
          type: string
        deleted:
          format: int32
          description: Inidicates if record is deleted. This field is readonly
          type: integer
        mainOrganization:
          description: Indicator for main organization
          type: boolean
    PersonJobDTO:
      title: personJob
      description: Object for Person to Job relationship
      type: object
      properties:
        jobTemplateId:
          format: int32
          description: Job Template Id
          type: integer
        isPrimary:
          description: Is Primary
          type: boolean
        joiningDate:
          format: date-time
          description: Joining Date
          type: string
        code:
          description: Code of Job Template
          type: string
        deleted:
          format: int32
          description: Inidicates if record is deleted. This field is readonly
          type: integer
    PersonRelationDTO:
      title: personRelation
      description: Object for Person to Person relationship
      type: object
      properties:
        manager1Id:
          description: Manager1 User Id
          type: string
        jobTitle:
          description: Job Title
          type: string
        locationName:
          description: Location Name
          type: string
        locationCode:
          description: Location Code
          type: string
    PersonELMDTO:
      title: personELM
      description: Object to specify Person to ELM relationship
      type: object
      properties:
        approverId:
          description: The User ID of the user's Learn schedule approver
          type: string
        defApproverId:
          description: User ID of the user's default training approver
          type: string
        viewAllEmpsInd:
          description: Indicates whether the user can see all users in his or her primary domain
          type: boolean
        reqConfirm:
          format: int32
          description: Indicates whether instructor scheduling requires approval. 1 - Requires Approval 0 or blank - Does not require approval
          type: integer
        instructorActive:
          format: int32
          description: Indicates whether the user is an instructor. 1 - Instructor 0 or blank - Not an instructor
          type: integer
        level1ApproverId:
          description: Level 1 Approver User ID
          type: string
        level2ApproverId:
          description: Level 2 Approver User ID
          type: string
        level3ApproverId:
          description: Level 3 Approver User ID
          type: string
        level4ApproverId:
          description: Level 4 Approver User ID
          type: string
    PersonOptional1DTO:
      title: personOptional
      description: Object for Person Optional Information
      type: object
      properties:
        text1:
          description: An optional text field
          type: string
        text2:
          description: An optional text field
          type: string
        text3:
          description: TeAn optional text fieldxt3
          type: string
        text4:
          description: An optional text field
          type: string
        text5:
          description: An optional text field
          type: string
        text6:
          description: An optional text field
          type: string
        text7:
          description: An optional text field
          type: string
        text8:
          description: An optional text field
          type: string
        text9:
          description: An optional text field
          type: string
        text10:
          description: An optional text field
          type: string
        text11:
          description: An optional text field
          type: string
        text12:
          description: An optional text field
          type: string
        text13:
          description: An optional text field
          type: string
        text14:
          description: An optional text field
          type: string
        text15:
          description: An optional text field
          type: string
        text16:
          description: An optional text field
          type: string
        text17:
          description: An optional text field
          type: string
        text18:
          description: An optional text field
          type: string
        text19:
          description: An optional text field
          type: string
        text20:
          description: An optional text field
          type: string
        date1:
          format: date-time
          description: An optional date field
          type: string
        date2:
          format: date-time
          description: An optional date field
          type: string
        date3:
          format: date-time
          description: An optional date field
          type: string
        date4:
          format: date-time
          description: An optional date field
          type: string
        date5:
          format: date-time
          description: An optional date field
          type: string
        money1:
          format: double
          description: An optional money field
          type: number
        money2:
          format: double
          description: An optional money field
          type: number
        money3:
          format: double
          description: An optional money field
          type: number
        money4:
          format: double
          description: An optional money field
          type: number
        money5:
          format: double
          description: An optional money field
          type: number
        integer1:
          format: int32
          description: An optional integer field
          type: integer
        integer2:
          format: int32
          description: An optional integer field
          type: integer
        integer3:
          format: int32
          description: An optional integer field
          type: integer
        integer4:
          format: int32
          description: An optional integer field
          type: integer
        integer5:
          format: int32
          description: An optional integer field
          type: integer
        float1:
          format: double
          description: An optional float field
          type: number
        float2:
          format: double
          description: An optional float field
          type: number
        float3:
          format: double
          description: An optional float field
          type: number
        float4:
          format: double
          description: An optional float field
          type: number
        float5:
          format: double
          description: An optional float field
          type: number
        ind1:
          description: An optional indicator (flag) field
          type: boolean
        ind2:
          description: An optional indicator (flag) field
          type: boolean
        ind3:
          description: An optional indicator (flag) field
          type: boolean
        ind4:
          description: An optional indicator (flag) field
          type: boolean
        ind5:
          description: An optional indicator (flag) field
          type: boolean
        memo1:
          description: An optional memo field
          type: string
        memo2:
          description: An optional memo field
          type: string
        memo3:
          description: An optional memo field
          type: string
        memo4:
          description: An optional memo field
          type: string
        memo5:
          description: An optional memo field
          type: string
        decimal1:
          format: double
          description: An optional decimal field
          type: number
        decimal2:
          format: double
          description: An optional decimal field
          type: number
        decimal3:
          format: double
          description: An optional decimal field
          type: number
        decimal4:
          format: double
          description: An optional decimal field
          type: number
        decimal5:
          format: double
          description: An optional decimal field
          type: number
    PersonMobileUserDTO:
      title: personMobileUser
      description: Object for Person Mobile detail
      type: object
      properties:
        isMobileEnabled:
          description: Is Mobile Enabled
          type: boolean
        mobileUsername:
          description: Mobile Username
          type: string
        userPassword:
          description: Mobile Password
          type: string
    UserLoginDTO:
      title: userLogin
      description: Object for Person to User Login relationship
      required:
        - username
        - userPassword
      type: object
      properties:
        username:
          description: Username
          type: string
        userPassword:
          description: Password
          type: string
        userEnabled:
          description: User Enabled
          type: boolean
        currentDomainId:
          format: int32
          description: Current Domain Id
          type: integer
        userCulture:
          description: User Culture
          type: string
        userTypeId:
          format: int32
          description: The resource type of the employee. Maps to "Item Code" field of Category code Code.Catcd=1073.
          type: integer
        isLocked:
          description: Is Locked
          type: boolean
        mustChangePassword:
          description: Flag to indicate if the password is required to be reset on user login
          type: boolean
        passwordExpiryDate:
          format: date-time
          description: The expiration date/time of the user's account password.
          type: string
    UserLoginProfileDTO:
      title: userLoginProfile
      description: Object for Person to User Login Profile relationship
      type: object
      properties:
        loginName:
          description: The user's NT Domain login name
          type: string
        profileUrl:
          description: Profile Url
          type: string
    PersonTMDTO:
      title: personTM
      description: Person TM object
      type: object
      properties:
        maritalCode:
          description: Marital Code
          type: string
        veteranCode:
          description: Veteran Code
          type: string
    CreateUserAdvancedResponseJSON:
      title: CreateUpdateUserResponse
      type: object
      properties:
        validationMessages:
          description: Response Validation Messages
          type: array
          items:
            $ref: '#/components/schemas/ValidationMessageJSON'
        response:
          description: Response value
          type: string
        userId:
          description: User Id of newly created User
          type: string
        status:
          format: int32
          description: Response status
          type: integer
    ValidationMessageJSON:
      type: object
      properties:
        fieldName:
          type: string
        errorCode:
          type: string
        errorMessage:
          type: string
    PersonAdvancedDTO:
      title: person
      description: Object for Person
      required:
        - firstName
        - lastName
        - userLogin
      type: object
      properties:
        userId:
          description: User unique identifier value for the import. Employee number/User ID not internal identifier. When left blank/null, this field will be auto generated
          type: string
        active:
          description: User account active or inactive. Possible values are 0 and 1
          type: boolean
        firstName:
          description: First Name
          type: string
        middleName:
          description: Middle Name
          type: string
        lastName:
          description: Last Name
          type: string
        fullName:
          description: FullName
          type: string
        firstNameNative:
          description: Native first name of the person
          type: string
        lastNameNative:
          description: Native last name of the person
          type: string
        friendlyName:
          description: Friendly name of the person
          type: string
        timezoneId:
          format: int32
          description: The timezone of the employee. Maps to the "Attr4Val" field of CodeAttribute category code 3007. Defaults to (UTC-05:00:00) Eastern Standard Time [America/New_York] (50)
          type: integer
        languageId:
          format: int32
          description: The employee's culture. Maps to "Attr4Val" field of Category code CodeAttribute.Catcd=1201. This  also determines the user's default language, date format, and time format. Defaults to English (United States) (1) (11)
          type: integer
        currencyId:
          format: int32
          description: The employee's compensation currency. Maps to "Attr3Val" of Code Attribute Category Code 1098. Defaults to US Dollars (11)
          type: integer
        ethnicityCode:
          description: Ethnicity of the user. Maps to the "Item Code" field for the category code 23115
          type: string
        genderCode:
          description: The gender of the employee. Maps to the "Item Code" field for the category code 2518
          type: string
        startDate:
          format: date-time
          description: Start date of employee
          type: string
        endDate:
          format: date-time
          description: Termination date
          type: string
        lastReviewDate:
          format: date-time
          description: 'The date/time of the user''s last Learn skills review, in either of the  following formats: mm/dd/yyyy hh:mm:ss,dd/mm/yyyy hh:mm:ss'
          type: string
        companyCode:
          description: Company Code (not an organization association)
          type: string
        companyName:
          description: Company name (not an organization association)
          type: string
        statusCode:
          format: int32
          description: User status (Active, Inactive, Vacation, etc.). Maps to "Item Code" field of Category code 48002
          type: integer
        typeCode:
          format: int32
          description: User code metadata (Full-time, part-time, contract, etc.). Maps to "Item Code" field of Category code Code.Catcd=4030
          type: integer
        birthDate:
          format: date-time
          description: Birth Date
          type: string
        prefixCode:
          description: Name prefix (Code). Maps to the "Item Code" field for the category code 4002
          type: string
        prefixText:
          description: Name Prefix Text.  Use this field to specify the prefix when 99 (other) is set as the prefix code.
          type: string
        suffixCode:
          description: Name suffix (Code). Maps to the "Item Code" field for the category code 4011
          type: string
        suffixText:
          description: Name Suffix Text.  Use this field to specify the suffix when 99 (other) is set as the suffix code.
          type: string
        noteText:
          description: Note Text
          type: string
        imagePath:
          description: ImagePath of the person
          type: string
        govtId:
          description: User's government ID
          type: string
        personDescription:
          description: Person Description
          type: string
        url:
          description: The Learn URL of the user
          type: string
        publishCalendar:
          description: Auto publish events into calendar.  0 - To add to calendar 1 - Do not add to calendar
          type: boolean
        internalInd:
          description: Indicates whether the user is an internal employee. 1 - Internal employee 0 - External (partner, contractor or customer)
          type: boolean
        deleted:
          description: Indicates whether the user should be marked as Deleted
          type: boolean
        welcomeEmailEnabled:
          description: Indicates if user should receive Welcome email after the account is created
          type: boolean
        homeAddress:
          $ref: '#/components/schemas/PersonCommunicationDTO'
          description: Home Address details
        businessAddress:
          $ref: '#/components/schemas/PersonCommunicationDTO'
          description: Business Address details
        personDomain:
          description: Person to Domain(s) Relationship
          type: array
          items:
            $ref: '#/components/schemas/PersonDomainDTO'
        personOrganization:
          description: Person to Organization(s) relationship
          type: array
          items:
            $ref: '#/components/schemas/PersonOrganizationDTO'
        personJob:
          description: Person Job Object
          type: array
          items:
            $ref: '#/components/schemas/PersonJobDTO'
        personRelation:
          $ref: '#/components/schemas/PersonRelationDTO'
          description: Person Relation Object
        personELM:
          $ref: '#/components/schemas/PersonELMDTO'
          description: Person ELM Object
        personOptional:
          $ref: '#/components/schemas/PersonOptional1DTO'
          description: Person Optional Object
        personMobileUser:
          $ref: '#/components/schemas/PersonMobileUserDTO'
          description: Person Mobile User Object
        userLogin:
          $ref: '#/components/schemas/UserLoginAdvancedDTO'
          description: User Login Object
        userLoginProfile:
          description: User Login Profile Object
          type: array
          items:
            $ref: '#/components/schemas/UserLoginProfileDTO'
        personTM:
          $ref: '#/components/schemas/PersonTMDTO'
          description: Person TM
    UserLoginAdvancedDTO:
      title: userLogin
      description: Object for Person to User Login relationship
      required:
        - username
      type: object
      properties:
        username:
          description: Username
          type: string
        userPassword:
          description: Encrypted Password Required
          type: string
        userEnabled:
          description: User Enabled
          type: boolean
        currentDomainId:
          format: int32
          description: Current Domain Id
          type: integer
        userCulture:
          description: User Culture
          type: string
        userTypeId:
          format: int32
          description: The resource type of the employee. Maps to "Item Code" field of Category code Code.Catcd=1073.
          type: integer
        isLocked:
          description: Is Locked
          type: boolean
        mustChangePassword:
          description: Flag to indicate if the password is required to be reset on user login
          type: boolean
        passwordExpiryDate:
          format: date-time
          description: The expiration date/time of the user's account password.
          type: string
    AssessmentResponseSummaryAPIDTO:
      description: ''
      type: object
      properties:
        timeTaken:
          format: double
          description: time taken to complete activity
          type: number
        totalQuestionsCount:
          format: int32
          description: number of TotalQuestionsCount
          type: integer
        noOfCorrectAnswers:
          format: int32
          description: number of correct answers
          type: integer
        noOfIncorrectAnswers:
          format: int32
          description: number of incorrect answers
          type: integer
        noOfUnanswerdQuestions:
          format: int32
          description: number of unanswered questions
          type: integer
        noOfPartiallyCorrectAnswers:
          format: int32
          description: number of partially correct answers
          type: integer
        correctAnswers:
          description: CorrectAnswers obect
          type: array
          items:
            $ref: '#/components/schemas/AssessmentAnswerSummaryAPIDTO'
        incorrectAnswers:
          description: IncorrectAnswers obect
          type: array
          items:
            $ref: '#/components/schemas/AssessmentAnswerSummaryAPIDTO'
        unanswerdQuestions:
          description: UnanswerdQuestions obect
          type: array
          items:
            $ref: '#/components/schemas/AssessmentAnswerSummaryAPIDTO'
        partiallyCorrectAnswers:
          description: CorrectAnswers obect
          type: array
          items:
            $ref: '#/components/schemas/AssessmentAnswerSummaryAPIDTO'
    AssessmentAnswerSummaryAPIDTO:
      description: Response for AssessmentResponseSummaryAPIDTO API
      type: object
      properties:
        questionID:
          format: int32
          description: QuestionId of the Question Bank
          type: integer
        questionText:
          description: QuestionText of the Question
          type: string
        questionTextWithFormat:
          description: QuestionTextWithFormat of the Question
          type: string
        questionType:
          description: "QuestionType will be MultipleChoice, MultipleSelect, FillInBlank,\r\nMatchTheFollowing, TrueFalse, Open-Ended and Ranking"
          type: string
        questionSequenceId:
          format: int32
          description: Question sequence Id
          type: integer
        isAnswered:
          description: Question is Answered Or Not
          type: boolean
        correctAnswer:
          description: Display the Question Options
          type: array
          items:
            $ref: '#/components/schemas/DisplayAnswerDTO'
        learnerAnswer:
          description: "LearnerAnswer which contains three fields i.e., AnswerId, AnswerText, MatchAnswerId;\r\nFor FillinBlank and Open-Ended QuestionType  - only AnswerText field is populated;\r\nFor MultipleChoice,MultipleSelect,TrueorFalse -  only AnswerId field is populated;\r\nFor MatchItems and Ranking - AnswerId and MatchAnswerID fields are populated"
          type: array
          items:
            $ref: '#/components/schemas/LearnersAnswerDTO'
    DisplayAnswerDTO:
      description: answer option details for a question
      type: object
      properties:
        answerID:
          type: array
          items:
            type: string
        answerText:
          type: array
          items:
            type: string
        matchAnswerID:
          description: match answer id
          type: string
        matchAnswerText:
          description: match text
          type: string
        feedback:
          description: question feedback
          type: string
    LearnersAnswerDTO:
      description: learner's answer details
      type: object
      properties:
        answerID:
          description: answer id
          type: string
        answerText:
          description: answer text
          type: string
        matchAnswerID:
          description: match answer id
          type: string
    QuestionResponseAPIDTO:
      description: Response for GetQuestionById API
      type: object
      properties:
        questionID:
          description: QuestionId of the Question Bank
          type: string
        questionText:
          description: QuestionText of the Question
          type: string
        questionTextWithFormat:
          description: QuestionTextWithFormat of the Question
          type: string
        questionType:
          description: "QuestionType will be MultipleChoice, MultipleSelect, FillInBlank,\r\nMatchTheFollowing, TrueFalse, Open-Ended and Ranking"
          type: string
        questionSequenceId:
          description: Question sequence Id
          type: string
        isMandatory:
          description: Question is Mandatory Or Not, This is applicable only for Poll or Survey
          type: boolean
        questionFeedback:
          description: QuestionFeedback of the Question
          type: string
        isAnswered:
          description: Question is Answered Or Not
          type: boolean
        options:
          description: Display the Question Options
          type: array
          items:
            $ref: '#/components/schemas/DisplayAnswerDTO'
        learnerAnswer:
          description: "LearnerAnswer which contains three fields i.e., AnswerId, AnswerText, MatchAnswerId;\r\nFor FillinBlank and Open-Ended QuestionType  - only AnswerText field is populated;\r\nFor MultipleChoice,MultipleSelect,TrueorFalse -  only AnswerId field is populated;\r\nFor MatchItems and Ranking - AnswerId and MatchAnswerID fields are populated"
          type: array
          items:
            $ref: '#/components/schemas/LearnersAnswerDTO'
    QuestionsAPIDTO:
      description: Response for Get All Questions API
      type: object
      properties:
        questionID:
          description: QuestionId of the Question Bank
          type: string
        questionSequenceId:
          description: Question sequence Id
          type: string
        isAnswered:
          description: Question is Answered Or Not
          type: boolean
    PaginatedData-AttestationReponseDTO:
      description: Pagination class details and data
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/PaginationDetails'
          description: Details of Pagination
        data:
          description: Data. List of items
          type: array
          items:
            $ref: '#/components/schemas/AttestationReponseDTO'
    AttestationReponseDTO:
      description: Gets or sets Attestation response
      type: object
      properties:
        name:
          description: Gets or sets Name
          type: string
        description:
          description: Gets or sets Description
          type: string
        text:
          description: Gets or sets Text
          type: string
        hash:
          description: Gets or sets Hash
          type: string
        isEnabled:
          description: Gets or sets IsEnabled
          type: boolean
        isDeleted:
          description: Gets or sets IsDeleted
          type: boolean
        isShowTerms:
          description: Gets or sets IsShowTerms
          type: boolean
        isSignatureEnabled:
          description: Gets or sets IsSignatureEnabled
          type: boolean
        reatTestEnabled:
          description: Gets or sets ReatTestEnabled
          type: boolean
        createdTime:
          format: date-time
          description: Gets or sets Created
          type: string
        createdBy:
          description: Gets or sets CreatedBy
          type: string
        modifiedTime:
          format: date-time
          description: Gets or sets Modified
          type: string
        modifiedBy:
          description: Gets or sets ModifiedBy
          type: string
        mustAttestonTextChange:
          description: Gets or Sets the admin configuration flag to force Re-attest if base text has changed
          type: boolean
        allusers:
          description: Gets or Sets the Attestation Definition Text Hash
          type: boolean
        criteria:
          description: Gets or sets a collection of associated criterias
          type: array
          items:
            $ref: '#/components/schemas/Criteria'
    Criteria:
      description: Gets or sets Criteria
      type: object
      properties:
        criteriaXml:
          $ref: '#/components/schemas/CriteriaExtXmlDTO'
          description: Gets or sets the criteria xml string
        criteriaType:
          description: Gets or sets the criteria type
          type: string
    CriteriaExtXmlDTO:
      description: Criteria XML object
      type: object
      properties:
        criteriaXmlString:
          description: Gets or sets Generic SQL
          type: string
        recurranceInterval:
          format: int32
          description: Gets or sets Interval value
          type: integer
    ProviderContent:
      type: object
      properties:
        courseJson:
          type: string
        topicJson:
          type: string
    UpdateCourseProgressDTO:
      title: courseProgress
      description: Gets or Sets the tracks dto
      required:
        - providerEntityCode
        - uniqueUserIdentifier
      type: object
      properties:
        providerEntityCode:
          description: Gets or sets the domain id of a mooc run
          type: string
        uniqueUserIdentifier:
          description: Gets or sets the User Unique identifier
          type: string
        startDate:
          format: date-time
          description: Gets or sets the start date of the progress
          type: string
        endDate:
          format: date-time
          description: Gets or sets the End Date of the progress
          type: string
        completed:
          description: Gets or sets if the course is completed or not.
          type: boolean
        success:
          description: Gets or sets if the course is success or not.
          type: boolean
        score:
          $ref: '#/components/schemas/CourseProgressScore'
          description: Gets or sets the score user has achieved.
        elapsedSeconds:
          format: double
          description: Gets or sets the elapsed seconds that user spent.
          type: number
    CourseProgressScore:
      title: score
      type: object
      properties:
        raw:
          format: double
          type: number
        scaled:
          format: double
          type: number
        min:
          format: double
          type: number
        max:
          format: double
          type: number
    InitiativeDTO:
      type: object
      properties:
        created:
          format: date-time
          description: The date that the initiative was created
          type: string
        creator:
          $ref: '#/components/schemas/BusinessEntityRefDTO'
          description: The person who created this initiative
        initiativeDetails:
          description: Gets or sets the details/metrics of the iniative
          type: array
          items:
            $ref: '#/components/schemas/InitiativeDetailDTO'
        cardImageIdentifier:
          description: Gets or sets the card image
          type: string
        initiativeDefinitionId:
          format: int32
          description: Gets or sets the initiative definition id
          type: integer
        cardPropertiesJSON:
          description: The card properties to be shown
          type: string
        currentStep:
          $ref: '#/components/schemas/ProcessStepDTO'
          description: Gets or sets the current step
        currentStepPosition:
          format: int32
          description: Gets the current step number
          type: integer
        totalStepCount:
          format: int32
          description: Gets the total process steps count
          type: integer
        communityId:
          description: Gets the community id
          type: string
        communityName:
          description: Gets the community name
          type: string
        assignedDate:
          format: date-time
          description: Gets the initiative assigned date
          type: string
        updatedDate:
          format: date-time
          description: Gets the initiative last Updated date
          type: string
        status:
          description: Gets the initiative status
          type: string
        initiativeId:
          format: int32
          description: Gets or sets the Initiative Id
          type: integer
        adminNotes:
          description: Gets or sets the admin notes
          type: string
        processName:
          description: Gets or sets the process name
          type: string
        activeStepCount:
          format: int32
          description: Gets or Sets ActiveStepCount
          type: integer
        completeMandatoryStepCount:
          format: int32
          description: Gets or Sets CompleteMandatoryStepCount
          type: integer
        percentComplete:
          format: int32
          description: Gets or Sets PercentComplete
          type: integer
        lastActionDate:
          format: date-time
          description: Gets or Sets LastActionDate
          type: string
        statusText:
          description: Gets or Sets StatusText
          type: string
        totalMandatoryStepCount:
          format: int32
          description: Gets or Sets TotalMandatoryStepCount
          type: integer
        id:
          format: int32
          description: Gets or sets the id
          type: integer
        processes:
          description: Gets or sets the initiative to processes
          type: array
          items:
            $ref: '#/components/schemas/ProcessDTO'
        name:
          description: Gets or sets the initiative name
          type: string
        description:
          description: Gets or sets the initiative description
          type: string
        startDate:
          format: date-time
          description: Gets or sets the initiative start date
          type: string
        endOffset:
          format: int32
          description: Gets or sets the initiative end offset
          type: integer
        endDate:
          format: date-time
          description: Gets the initiative end date
          type: string
          readOnly: true
        isActive:
          description: Gets or sets the flag indicating if the initiative is active
          type: boolean
        owner:
          $ref: '#/components/schemas/BusinessEntityRefDTO'
          description: Gets or sets the owner of this initiative
        processStepGroups:
          description: Gets or sets the step groups for this initiative
          type: array
          items:
            $ref: '#/components/schemas/ProcessStepGroupDTO'
        links:
          description: Gets or sets the links. HATEOAS
          type: array
          items:
            $ref: '#/components/schemas/RestAction'
    BusinessEntityRefDTO:
      description: Data contract for business entity reference.
      type: object
      properties:
        id:
          description: Gets or sets the identifier for the object.
          type: string
        name:
          description: Gets or sets the name of the object.
          type: string
        key:
          description: Gets or sets the key of the object.
          type: string
        value:
          description: Gets or sets the value for the object
          type: string
    InitiativeDetailDTO:
      description: Represents a metric based on a given initiative
      type: object
      properties:
        title:
          description: Gets or sets the detail/metric title
          type: string
        value:
          description: Gets or sets the detail/metric value
          type: string
        iconType:
          description: Gets or sets the detail/metric icon type
          type: string
        metricType:
          description: Gets or sets the metric type of the detail/metric
          type: string
        key:
          description: Gets or sets the key
          type: string
    ProcessStepDTO:
      type: object
      properties:
        stepName:
          description: Gets or sets the process step name
          type: string
        stepDescription:
          description: Gets or sets the process step description
          type: string
        ordinalPosition:
          format: int32
          description: Gets or sets the ordinal position label
          type: integer
        stepType:
          description: Gets or sets the view name
          type: string
        stepKey:
          description: Gets or sets the view key
          type: string
        templateURL:
          description: Gets or sets the template url
          type: string
        adminURL:
          description: Gets or sets the admin url
          type: string
        parameterJSON:
          description: Gets or sets the parameter json
          type: string
        processId:
          format: int32
          description: Gets or sets the process id
          type: integer
        processEntityStepStates:
          description: Gets or sets the process entity step state collection
          type: array
          items:
            $ref: '#/components/schemas/ProcessEntityStepStateDTO'
        startDate:
          format: date-time
          description: Explicit date when the step should be started.
          type: string
        endDate:
          format: date-time
[...]
